* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    margin: 0;
}

.header {
    background-color: white;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    padding: 20px 0 0;
}

.header-inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;
}

.top-buttons {
    position: absolute;
    top: 30px;
    right: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

#randomize-container {
    display: none;
}

.header-button img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
}

.game-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 335px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px 0;
    margin-top: 125px;
}

.clue-row,
.guess-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: 100%;
    margin: 0;
}

.guess-row-container {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

.row-container {
    padding-bottom: 15px;
}

.team-name-box {
    grid-column: 1 / -1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}

.clue-box,
.guess-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clue-box {
    border-color: black;
}

.guess-box.colors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.color-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.guess-box.green {
    background-color: #6aaa64;
    color: white;
}

.guess-box.yellow {
    background-color: #c9b458;
    color: white;
}

.guess-box.gray {
    background-color: #787c7e;
    color: white;
}

.guess-box.placeholder {
    background-color: #e0e0e0;
    color: transparent;
}

.team-name-box.placeholder {
    background-color: #e0e0e0;
    color: black;
    font-size: 16px;
}

input {
    width: 75%;
    padding: 10px;
    margin: 10px 10px 10px 0;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
}

button {
    padding: 10px 20px;
    height: 43px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}

button:active {
    background-color: white;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}

.clue-full {
    display: inline;
}

.clue-short {
    display: none;
}

.last-title-clue {
    font-size: 14px;
}

@media (max-width: 600px) {
    .clue-full {
        display: none;
    }
    .clue-short {
        display: inline;
    }
    .game-container {
        max-width: 100%;
        padding: 10px;
        padding-top: 325px;
    }
    .guess-row-container {
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0;
    }
    .row-container {
        padding-bottom: 10px;
    }
    input {
        width: 60%;
        max-width: 200px;
        font-size: 16px;
    }
    .input-container {
        margin-top: 90px;
    }
    .clue-box {
        font-size: 10px;
        padding: 8px;
    }
    .guess-box {
        width: 100%;
        font-size: 8px;
        padding: 8px;
    }
    .team-name-box {
        font-size: 12px;
    }
    .color-circle {
        width: 10px;
        height: 10px;
    }
    h1 {
        display: flex;
        width: 150px;
        justify-content: flex-start;
        align-items: center;
    }
}